.header-menu #main-menu > li {
  position: initial;
  height: 65px;
  padding: 3px 10px;
  transition: 0.3s;
}
.header-menu #main-menu > li > a {
  margin-right: initial;
  text-transform: uppercase;
}
.header-menu #main-menu > li > a .menu_slider {
  display: none;
}
.header-menu #main-menu > li:hover {
  background-color: #242624;
}
.header-menu #main-menu > li:hover a {
  color: #fff !important;
}
.header-menu #main-menu > li:hover > .dropdown-menu {
  display: flex !important;
}
.header-menu #main-menu > li > .dropdown-menu {
  align-items: center;
  top: 70px;
  border: none;
  background-color: #242624;
  color: #fff;
  height: 110px;
  justify-content: center;
  max-width: 100vw;
  width: 100vw;
  left: 0;
}
.header-menu #main-menu > li > .dropdown-menu > li {
  border: 0;
  margin: 0 15px;
  text-align: center;
  max-width: 210px;
  height: 100px;
  position: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu #main-menu > li > .dropdown-menu > li:hover {
  background-color: #181a18;
}
.header-menu #main-menu > li > .dropdown-menu > li:hover ul.dropdown-menu.submenu {
  display: flex;
}
.header-menu #main-menu > li > .dropdown-menu > li:hover a i {
  transform: rotate(180deg);
  transition: 0.5s;
}
.header-menu #main-menu > li > .dropdown-menu > li a {
  font-size: 15px;
  color: #fff !important;
  display: flex;
  align-items: center;
}
.header-menu #main-menu > li > .dropdown-menu > li a i {
  color: #fff;
  margin-left: 5px;
}
.header-menu #main-menu > li > .dropdown-menu > li ul.dropdown-menu.submenu {
  align-items: center;
  justify-content: left;
  position: absolute;
  top: 99px !important;
  left: -2px;
  width: 100vw;
  flex-direction: row;
  min-width: 100vw;
  /* height: 70px; */
  background-color: #171817;
  box-shadow: none;
  border: 0;
  flex-wrap: wrap;
}
.header-menu #main-menu > li > .dropdown-menu > li ul.dropdown-menu.submenu li {
  border: 0;
  height: 90px;
  display: flex;
  align-items: center;
  max-width: 300px;
}
.header-menu #main-menu > li > .dropdown-menu > li ul.dropdown-menu.submenu li a {
  font-size: 15px;
  color: #fff !important;
}
.header-menu #main-menu > li > .dropdown-menu > li ul.dropdown-menu.submenu li:hover {
  background-color: #000;
}

.structure-comitete .widget_tittle {
  border: none !important;
}
.structure-comitete .widget_tittle h3 {
  padding: 10px 70px !important;
  background-color: var(--mycolor);
  color: #fff;
}
.structure-comitete .tuzilma-card {
  width: 320px;
  box-shadow: 2px 2px 4px 1px var(--mycolor);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid var(--mycolor);
  color: #000;
  font-size: 15px;
  position: relative;
  text-align: center;
}
.structure-comitete .structure-top {
  display: flex;
  justify-content: center;
}
.structure-comitete .structure-top .tuzilma-card:nth-of-type(1) {
  margin-right: 155px;
  margin-left: 20%;
}
.structure-comitete .structure-top .tuzilma-card:nth-of-type(1)::before {
  content: "";
  display: block;
  position: absolute;
  height: 30px;
  background: #249b73;
  width: 1px;
  top: 137%;
}
.structure-comitete .structure-top .tuzilma-card:nth-of-type(1)::after {
  content: "";
  display: block;
  border-radius: 34px;
  background-color: #249b73;
  width: 5px;
  height: 5px;
  top: 137%;
  position: absolute;
}
.structure-comitete .structure-top .tuzilma-card:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 165px;
  position: absolute;
  height: 1px;
  background-color: #249b73;
  top: 50%;
  left: -165px;
}
.structure-comitete .substructures {
  display: flex;
  margin-top: 47px;
  justify-content: space-between;
}
.structure-comitete .substructures::before {
  top: 58px;
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #249b73;
  left: calc(100% / 10 - 10px + 6px);
  right: calc(100% / 10 - 10px + 6px);
  /*right: calc(100% - (5 * (320px + 2 * 10px)) + 320px / 2 );*/
  margin: 30px auto;
}
.structure-comitete .substructures .substructure {
  position: relative;
}
.structure-comitete .substructures .substructure:last-child {
  border: 1px dotted #249b73;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.structure-comitete .substructures .substructure:last-child::before {
  top: -26px;
}
.structure-comitete .substructures .substructure:last-child::after {
  top: -10px;
}
.structure-comitete .substructures .substructure::before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  background-color: #249b73;
  left: 50%;
  top: -15px;
}
.structure-comitete .substructures .substructure::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #249b73;
  top: 0;
  border-radius: 100%;
  left: calc(50% - 2px);
}
.structure-comitete .substructures .substructure .sub-tuzilma-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
  position: relative;
}
.structure-comitete .substructures .substructure .sub-tuzilma-card .tuzilma-card {
  max-width: 300px;
  height: 80px;
}
.structure-comitete .substructures .substructure .sub-tuzilma-card .tuzilma-card:nth-of-type(1)::before {
  content: "";
  display: block;
  position: absolute;
  height: 25px;
  top: -40px;
  background-color: #249b73;
  left: 125px;
  width: 1px;
}
.structure-comitete .substructures .substructure .sub-tuzilma-card .tuzilma-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 1px;
  background-color: #249b73;
  left: -15px;
}
.structure-comitete .substructures .substructure .sub-tuzilma-card::before {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  background-color: #39ae69;
  top: -5px;
  bottom: calc(80px / 2 + 10px);
  left: 15px;
}
.structure-comitete .substructures .substructure .sub-tuzilma-card::after {
  content: "";
  display: block;
  position: absolute;
  width: 142px;
  height: 1px;
  top: -5px;
  background-color: #39ae69;
  left: 15px;
}

.service-recycle .number-of-product {
  font-size: 12px;
}

.maqom-color {
  background: #000;
  width: 10px;
  height: 10px;
  display: block;
  margin-right: 10px;
}
