@media (max-width: 844px) {
    .logo_neno{
        width: 250px;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
        }
    .pull-left.logo_neno img {
        width: 20px;
        margin-right: 20px;
    }

    .logo_area .logo_neno p {
        font-size: 12px;
        margin-top: 35px;
    }

    .slider_inner .slider_text h3{
        font-size: 20px;

    }

    .pull-left.logo_neno img {
        margin-top: 15px;
    }
    .asosiy_korsatkichlari2 .row.content .col-9 h3 {
        font-size: 18px;
    }
    .asosiy_korsatkichlari2 .row.content .stat_menu h3 {
        font-size: 17px;
    }
    .asosiy_korsatkichlari2 .row.content .stat_menu ul li {
        font-size: 18px;
        line-height: 15px;
        margin: 8pxpx 0;
        font-size: 14px;
    }
    .bolim_title {
        font-size: 14px;
    }
    .bolim_description {
        font-size: 12px;
    }

}
