.header-menu {

    #main-menu {
        > li {
            position: initial;
            height: 65px;
            padding: 3px 10px;
            transition: 0.3s;
            > a{
                margin-right: initial;
                text-transform: uppercase;
                .menu_slider{
                    display: none;
                }
            }

            &:hover {
                background-color: #242624;
                a{
                    color: #fff !important;
                }
                > .dropdown-menu {
                    display: flex !important;
                }
            }

            > .dropdown-menu {
                align-items: center;
                top: 70px;
                border: none;
                background-color: #242624;
                color: #fff;
                height: 110px;
                justify-content: center;
                max-width: 100vw;
                width: 100vw;
                left: 0;

                > li {
                    border: 0;
                    margin: 0 15px;
                    text-align: center;
                    max-width: 210px;
                    height: 100px;
                    position: initial;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: #181a18;

                        ul.dropdown-menu.submenu {
                            display: flex;
                        }
                        a i{
                            transform: rotate(180deg);
                            transition: 0.5s;
                        }
                    }

                    a {
                        font-size: 15px;
                        color: #fff !important;
                        display: flex;
                        align-items: center;
                        i{
                            color: #fff;
                            margin-left: 5px;
                        }
                    }

                    ul.dropdown-menu.submenu {


                        align-items: center;
                        justify-content: left;
                        position: absolute;
                        top: 99px !important;
                        left: -2px;
                        width: 100vw;
                        flex-direction: row;
                        min-width: 100vw;
                        /* height: 70px; */
                        background-color: #171817;
                        box-shadow: none;
                        border: 0;
                        flex-wrap: wrap;

                        li {
                            border: 0;
                            height: 90px;
                            display: flex;
                            align-items: center;
                            max-width: 300px;

                            a {
                                font-size: 15px;
                                color: #fff !important;
                            }

                            &:hover {
                                background-color: #000;
                            }
                        }


                    }
                }

            }
        }

    }
}
