@media (max-width: 1199px) {
    .logo_area .pull-left.logo_neno {
        float: none !important;
        text-align: center;
        padding-bottom: 40px;
    }

    .logo_area .pull-right.contact_details_area {
        float: none !important;
        text-align: center;
    }

    .logo_area .contact_details_area .contact_item .media .media-body {
        text-align: left;
    }

    .project_item_inner .project_item_content h3 {
        font-size: 17px;
    }
}

@media (max-width: 991px) {
    .logo_area .contact_details_area .request_btn {
        margin-left: 0px;
        margin-top: 20px;
    }

    .logo_area .contact_details_area .contact_item {
        width: calc(100% / 3);
        float: left;
        padding-right: 0px;
    }

    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
        padding-right: 30px;
    }

    .project_quote .pull-left.left_content {
        float: none !important;
        text-align: center;
    }

    .project_quote .right_content {
        padding-top: 0px;
        float: none !important;
        text-align: center;
        padding-bottom: 35px;
    }

    .project_item_inner {
        max-width: 370px;
        margin: auto;
        margin-bottom: 40px;
    }

    .project_item_area .col-md-4:last-child .project_item_inner {
        margin-bottom: 0px;
    }

    .portfolio_area .portfolio_inner {
        max-width: 600px;
        margin: auto;
    }

    .conpany_about_area .company_image {
        margin-top: 40px;
    }

    .chose_inner_area {
        padding-top: 40px;
    }

    .our_latest_news_area .row {
        max-width: 570px;
        margin: auto;
    }

    .our_latest_news_area .latest_news_inner {
        margin-bottom: 40px;
    }

    .partner_area .partner_img {
        margin-bottom: 40px;
    }

    .partner_area {
        padding-bottom: 55px;
    }

    .footer_area .footer_widget_area .col-md-3 {
        margin-bottom: 40px;
        clear: both;
        overflow: hidden;
    }

    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
        padding-right: 25px;
    }

    .portfolio_area.portfolio_area2 .portfolio_menu {
        text-align: center;
    }

    .our_latest_news_area.our_latest_news2 .col-md-4 {
        max-width: 400px;
        width: auto;
        margin: auto;
    }

    .global_area .global_content {
        padding-bottom: 40px;
    }

    .about_team_area .row {
        max-width: 570px;
        margin: auto;
    }

    .about_team_area .col-md-3 {
        margin: 15px 0px 15px 0px;
    }

    .service_tab_content {
        padding-top: 40px;
        overflow: hidden;
        max-width: 600px;
        margin: auto;
    }

    .project_info_area .project_info_content {
        padding-top: 40px;
    }

    .blog_area.single_blog_area .blog_inner_area {
        padding-bottom: 60px;
    }

    .contact_from_area .blog_comment_from {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .main_menu_area .navbar.navbar-default .navbar-header .navbar-toggle {
        border-color: #26a65b;
        transition: all 300ms linear;
    }

    .main_menu_area .navbar.navbar-default .navbar-header .navbar-toggle:hover {
        background: #fff;
        border-color: #fff;
    }

    .main_menu_area .navbar.navbar-default .navbar-header .navbar-toggle span {
        background: #26a65b;
    }

    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav {
        margin: 0px;
    }

    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:hover a, .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li.active a {
        box-shadow: none;
    }

    .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li a {
        padding-right: 0px;
        line-height: 50px;
        padding-left: 15px;
    }

    .main_menu_area .navbar.navbar-default .navbar-collapse .search_menu {
        padding-left: 15px;
    }

    .main_menu_area .navbar.navbar-default .navbar-collapse .search_menu li a {
        line-height: 50px;
    }

    .partner_area .row {
        max-width: 370px;
        margin: auto;
    }

    .main_menu_area.middle_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li {
        display: block;
        float: none;
    }

    .main_menu_area.middle_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav {
        float: left;
        display: block;
        width: 100%;
    }

    .main_menu_area.middle_menu_area .navbar.navbar-default .navbar-collapse {
        text-align: left;
    }

    .main_menu_area .navbar.navbar-default .navbar-collapse {
        max-height: 300px;
        overflow: scroll;
    }

    .main_menu_area.middle_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li.submenu .dropdown-menu li a {
        color: #3d3d3d;
    }

    .slider_inner.main_slider_middle .slider_text h4 {
        line-height: 40px;
        height: auto;
        margin-bottom: 5px;
    }

    .error_area .error_content h3 {
        font-size: 150px;
    }
}

@media (max-width: 600px) {
    .logo_area .pull-right.contact_details_area {
        display: none;
    }

    .logo_area .pull-left.logo_neno {
        padding-bottom: 0px;
    }

    .portfolio_area .portfolio_inner {
        max-width: 300px;
        margin: auto;
    }

    .portfolio_menu li {
        line-height: 30px;
    }

    .our_latest_news_area .row .col-xs-6 {
        width: 100%;
    }

    .our_latest_news_area .latest_news_inner {
        max-width: 270px;
        margin: auto;
        margin-bottom: 40px;
    }

    .our_latest_news_area .row {
        max-width: 100%;
        margin: auto;
    }

    .footer_copyright_area .pull-left.copyright_left {
        float: none !important;
        text-align: center;
    }

    .footer_copyright_area {
        padding: 20px 0px;
    }

    .footer_copyright_area .copyright_left h4 {
        line-height: 40px;
    }

    .footer_copyright_area .pull-right.copyright_right {
        float: none !important;
        text-align: center;
    }

    .footer_copyright_area .copyright_right h5 {
        line-height: 40px;
    }
}

@media (max-width: 480px) {
    .project_quote .left_content h4 {
        line-height: 30px;
        padding-bottom: 30px;
        padding-top: 35px;
    }

    .chose_inner_area .panel-group .panel-default .panel-heading .panel-title a span {
        margin-right: 0px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px;
    }

    .chose_inner_area .panel-group .panel-default .panel-heading .panel-title a {
        line-height: 30px;
        padding: 6px 0px;
    }

    .slider_inner.main_slider_middle .slider_text h4 {
        font-size: 18px;
        line-height: 26px;
        padding: 0px 10px;
    }

    .slider_inner .slider_text h3 {
        font-size: 22px;
    }

    .slider_inner {
        height: 400px !important;
    }

    .slider_inner.main_slider_middle .slider_text {
        top: 70px;
    }

    .slider_inner .slider_text {
        top: 70px;
    }

    .about_team_area .row {
        max-width: 300px;
    }

    .about_team_area .col-xs-6 {
        width: 100%;
    }

    .service_tab_content .col-xs-6 {
        width: 100%;
    }

    .service_tab_content {
        max-width: 300px;
        margin: 0px;
    }

    .service_area.service_details .service_tab_content {
        max-width: none;
    }
}

@media (max-width: 360px) {
    .get_btn {
        margin-right: 5px;
    }

    .about_tittle h2 {
        font-size: 20px;
    }

    .header_top .header_language .header_social li a {
        border-right: none;
    }

    .header_top .header_language .header_social li:first-child a {
        border-left: none;
    }
}

/*456465*/

/* Begin Header */
.header {
    background-color: #ffffff;
    margin-top: 0;


}

.header-main {
    height: 70px !important;
    background-color: #fff;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 0 0 7px 0 #ccc;


}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-logo {
    padding-top: 2px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.header-logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
}

.header-logo a img {
    height: 50px;
    margin-right: 30px;
}

.header-logo a span {

    font-family: 'Montserrat-Medium', sans-serif;
    color: #13502c;

    max-width: 280px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 14px;
}

.header-logo small {
    text-shadow: none;
    color: red;
}

.mobile-menu {
    display: none;
}

.header-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 55px;
    position: relative;
}


.header-item {
    /*padding-left: 75px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-item a,
.header-item span {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15px;
}

.header-item a i {
    font-size: 25px;
    color: #249b73;
}

.header-item a.active {
    font-family: 'Montserrat-SemiBold', sans-serif;
}

.header-item.header-mail a i.icons {
    margin-top: -3px;
    margin-right: 10px;
    font-size: 26px;
    color: #fff;
}

.header-item a i.icons.icon-eyeglass {
    font-size: 30px;
}

.header-item a i.icons.icon-user {
    font-size: 22px;
}

.header-item.header-special a {
    margin: 0 20px;
}


.header-menu {
    /*width: 100%;*/
    /*height: 73px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*font-weight: 550;*/
    /*text-transform: uppercase;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}


.header-menu__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-menu__main .menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-menu__main .header-search {
    margin-left: 20px;
}

.header-menu ul {
    /*display: flex;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    /* justify-content: space-between; */
    width: 100%;
}

.header-menu ul li {

}

.navbar-nav .dropdown-menu > li > a {
    white-space: unset;
}

.header-menu ul li a {
    font-family: 'Montserrat-Medium', sans-serif;
    color: #000;
    font-size: 16px;
}

.header-menu .submenu ul li a {
    display: block;
    font-family: 'Montserrat-Medium', sans-serif;

    font-size: 16px;

}


.header-menu ul li a i {

}

.header-menu ul li a i.fa-bars {
    font-size: 29px;
}

.header-menu .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-right: 25px;
}

a.openMenu1 {
    color: #ffffff;
    font-size: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* search */
.search-toggle {
    cursor: pointer;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
}

.search-toggle:hover {
    color: #ffffff;
}

.search-toggle > span {
    font-size: 15px;
    margin-left: 6px;
    border-bottom: 1px solid transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.search-toggle:hover > span {
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

.thim-search-active .thim-widget-courses-searching .thim-course-search-overlay .courses-searching {
    filter: alpha(opacity=100);
    -ms-filter: "alpha(opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
}

.error-message {
    color: red;
}

.courses-searching input[type=text] {
    width: calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    border-radius: 0;
    border: 0;
    height: 50px;
    line-height: 40px;
    float: left;
    margin: 0;
    padding-left: 20px;
    background: #fff;
    color: #999;
    font-size: 15px;
    font-style: italic;
}

.courses-searching button {
    width: 50px;
    line-height: 50px;
    border-radius: 0;
    float: left;
    font-size: 16px;
    padding: 0;
    border: 0;
    background: #252a2e;
    color: #fff;
    cursor: pointer;

}

.courses-searching {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background: rgba(37, 37, 37, 0.7);
    margin: 0;
    width: 100%;
    height: 100vh;
    -webkit-transform: scale(.2, .2);
    -moz-transform: scale(.2, .2);
    -ms-transform: scale(.2, .2);
    -o-transform: scale(.2, .2);
    -webkit-transition: all .3s cubic-bezier(.4, 0, 1, 1);
    -o-transition: all .3s cubic-bezier(.4, 0, 1, 1);
    transition: all .3s cubic-bezier(.4, 0, 1, 1);
}

.search-popup-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: url(../img/cursor.png), auto;
}

.thim-widget-courses-searching .thim-course-search-overlay .courses-searching form {
    max-width: 100%;
    width: 600px;
}

.thim-course-search-overlay form {
    position: absolute;
    z-index: 10;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50px;
}

.courses-searching ul.courses-list-search {
    z-index: 9;
    overflow: hidden;
    padding: 0 20px;
    list-style: none;
    position: absolute;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    background: #fff !important;
    margin-top: 2px;
    left: 0;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    border-radius: 0;
    -webkit-box-shadow: 2px 2px 6px -4px #000;
    box-shadow: 2px 2px 6px -4px #000;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, .05);
}

.courses-searching button i {
    color: #fff;
}

.search-item {
    margin-bottom: 15px;
}

/* End Header */

.dropdown-menu > li > a {
    /*border-bottom: 1px solid #0a5008;*/
    /*margin-top: 5px !important;*/
    /*color: #0a5008 !important;*/
}

#menuToggle {
    display: none !important;
}


/*Menu language area*/


.header-lang {
    display: flex;
    padding-top: 60px;
    /*font-weight: 550;*/
}

#lang_selected {
    margin-left: 20px;
    padding-top: 24px;

}

/*.shadow-1, .language-dropdown label, .language-dropdown ul.lang-list {*/
/*    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
/*}*/

/*.shadow-2, .language-dropdown.open label {*/
/*    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
/*}*/

/*.shadow-3 {*/
/*    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
/*}*/

/*.shadow-4 {*/
/*    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
/*}*/

/*.shadow-5 {*/
/*    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);*/
/*}*/


.language-dropdown {
    display: inline-block;
    margin: 20px 10px;
}

.language-dropdown .lang-en {
    border-left: 3px solid #1ABC9C;
}

.language-dropdown .lang-en .flag {
    background-image: url("../img/uz_flag.svg");
}

.language-dropdown .lang-pt {
    border-left: 3px solid #1a43ab;
}

.language-dropdown .lang-pt .flag {
    background-image: url("../img/ru_flag.png");
}

.language-dropdown .lang-es {
    border-left: 3px solid #E2162C;
}

.language-dropdown .lang-es .flag {
    background-image: url("../img/uk.png");
}

.language-dropdown label, .language-dropdown ul li {
    display: block;
    width: 40px;
    height: 28px;
    background: #fff;
    padding: 0px 6px;
    cursor: pointer;
}

.language-dropdown ul.lang-list {
    position: relative;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.language-dropdown ul.lang-list li {
    border-bottom: 1px solid #ECECEC;
}

.language-dropdown ul.lang-list li:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.language-dropdown ul.lang-list li.selected {
    display: none;
}

.language-dropdown label {
    position: relative;
    border-bottom: 1px solid #ECECEC;
    border-radius: 3px;
    z-index: 2;
}

.language-dropdown .lang-flag .flag, .language-dropdown .lang-list .lang .flag {
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: 22px 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.language-dropdown.open ul.lang-list {
    visibility: visible;
    opacity: 1;
}

.language-dropdown.open label {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.animate, .lang-flag, .lang-list {
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

/*@media screen and (max-width: 1132px) and (min-width: 1200px){*/
/*    .main_menu_area .hududiy_boshqarmalar a span{*/
/*        display: none;*/
/*    }*/

/*}*/
@media (max-width: 1905px) {
    .tort {
        display: none !important;
    }

    .header-logo {
        margin-left: -40px;
    }

}

@media (max-width: 1480px) {
    .header-logo {
        margin: 0 auto;
    }

    .header-main {
        /*padding: 15px 0;*/
    }

    .header-menu {
        display: none !important;
    }

    .tort {
        display: flex !important;
    }

    .menu-container {
        display: block;
    }

    .header-settings {
        /*height: 70px;*/
    }

    .header-logo a img {
        height: 50px;
    }

    .header-menu {
        height: 55px;
    }

    .header-logo a span {
        font-size: 14px;
        line-height: 20px;
    }

    .header-item a {
        font-size: 17px;
    }

    .header-item.header-mail a i.icons {
        font-size: 21px;
    }

    .new-navbar .nav-item a {
        font-size: 15px;
        line-height: 20px;
    }


    .header-item {
        padding-left: 45px;
    }

    .header-item.header-special a {
        margin: 0 15px;
    }

    .header-item a i.icons.icon-user {
        font-size: 19px;
    }

    .header-item a i.icons.icon-eyeglass {
        font-size: 30px;
    }

    .header-item a i.icons {
        font-size: 25px;
    }

    .b-burger__main--menu {
        padding: 0 90px;
    }

    .menu-title {
        font-size: 14px;
    }

    .b-burger__close {
        top: 30px;
        right: 90px;
    }

    .b-burger__main {
        padding-top: 85px;
    }

    .fullmenu {
        max-height: calc(100vh - 175px);
    }

    .b-burger__main ul.accordion > li {
        margin: 15px 0;
    }

    .b-burger__main ul.accordion li a.toggle,
    .b-burger__main ul.accordion > li > a {
        padding: 15px 0;
        font-size: 21px;
    }

    .b-burger__main ul.accordion li a.toggle::before {
        top: 23px;
    }

    .b-burger__main ul.accordion .nav-submenu li a.toggle,
    .b-burger__main ul.accordion .nav-submenu li a {
        font-size: 17px;
    }

    .b-burger__main ul.accordion .nav-submenu li a.toggle::before {
        top: 15px;
    }

    .b-burger__close i.icons {
        font-size: 19px;
        width: 19px;
        height: 19px;
    }

}

@media (max-width: 1280px) {
    .tort {
        display: none !important;
    }

    .header-item {
        padding-left: 30px;
    }


    .sidebar-menu {
        padding: 20px;
        margin-bottom: 15px;
    }


    .sidebar {
        margin-top: -120px;
    }


}

@media (max-width: 1170px) {


    .mobile-menu {
        display: block;
    }


    a.hamburger {
        display: none;
    }

    .search-toggle {
        font-size: 20px;
    }

}

@media (max-width: 991px) {


    .sidebar {
        margin-top: 0;
    }


    .mobile-phones {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
    }

    .mobile-phones > a {
        color: #ffffff;
        display: flex;
    }

    .mobile-phones > a:nth-child(2) {
        margin-left: 30px;
    }

    .mobile-phones > a i.icons {
        font-size: 20px;
        margin-right: 5px;
    }


    .v-pills-m {
        display: block;
    }

    #v-pills-tab {
        display: none;
    }

    #v-pills-tabContent > .tab-pane {
        display: block;
        margin-bottom: 20px;
    }

    #v-pills-tabContent .fade:not(.show) {
        opacity: unset;
    }


}

@media (max-width: 767px) {
    .desktop-menu {
        display: none;
    }

    #menuToggle {
        display: block !important;

    }

    /*#menu{*/
    /*    margin: -38px 0 0 -180px!important;*/
    /*}*/
}


@media (max-width: 700px) {
    .header-item.header-special,
    .header-item.header-mail {
        display: none;
    }

}

@media (max-width: 576px) {


    .header-top {
        display: block;
    }

    .header-settings {
        text-align: center;
        display: block;
        height: 0;

    }


    .header-logo {
        margin-right: 30px;
        flex: 0 0 10%;
        width: 100%;

    }

    .header-logo span {
        font-size: 10px;
        text-align: center;
        display: block;
        max-width: 100%;

    }

    .header-logo a span {

        text-align: center;


    }

    .header-logo a img {
        margin-right: 5px;
    }

    .header-lang {

        display: none;

    }


    .header-logo img {
        height: 60px;
        margin: 0;
        margin-bottom: 5px;
    }

    /*.header-main {*/
    /*    padding: 10px 0;*/
    /*}*/
    .mobile-phones > a {
        font-size: 14px;
    }

    .mobile-phones > a:nth-child(2) {
        margin-left: 20px;
    }

    .mobile-phones > a i.icons {
        font-size: 25px;
        margin-right: 5px;
    }

    #plus {
        display: flex !important;
    }

}

@media (max-width: 576px) {
    .header-logo a span {
        font-size: 12px !important;
        text-align: center;


        font-weight: 550;

    }

}

@media (max-width: 359px) {
    .header-logo a span {
        font-size: 10px !important;
        text-align: center;


        /*max-width: 150px;*/

        font-weight: 550;

    }

    .header-logo a img {
        height: 50px;
        margin-right: 5px;
    }
}

@media (max-width: 250px) {
    .header-logo a span {
        display: none;
    }

}

@media (max-width: 1905px) {
    .tut span {
        display: none !important;
    }

}

.dropdown .nav-item a:hover {
    background: #fff !important;
    color: #249b73 !important;;
}


.dropdown-menu.animated.fadeInUp.show {
    inset: unset !important;
}


/*584656*/


/*new menu navbar*/
p.small {
    font-size: 14px;
}

.go-corner {
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    transition: all 0.3s ease-out;
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}


.card4 {
    display: block;
    top: 150px;
    position: relative;
    max-width: 262px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #cccccc;
}

.card_img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 900ms ease 0s;
    width: 60px;

}

.card_img img {
    width: 60px;
    height: 60px;
}

.card4:hover .card_img {
    transform: rotateY(360deg);

}

.card4 .go-corner {
    background-color: #00838d;
    height: 100%;
    width: 24px;
    padding-right: 7px;
    border-radius: 0;
    transform: skew(6deg);
    margin-right: -36px;
    align-items: start;
    background-image: linear-gradient(-45deg, #33af0a 1%, #36a163 100%);
}

.card4 .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
}

.card4:hover {
    border: 1px solid #2cc21c;
}

.card4 h3 {
    margin-top: 8px;
}

.card4:hover .go-corner {
    margin-right: -12px;
}

.card4:hover .go-arrow {
    opacity: 1;
}
