@charset "UTF-8";
.page-content .container .product-button-actions {
  flex: 1 1 auto;
  overflow-y: scroll;
  padding-right: 5px;
  max-height: 420px;
  padding-top: 0;
  width: 105%;
}
.page-content .container .product-button-actions button {
  width: 100%;
}
.page-content .container .product-button-actions button .number-of-product {
  margin-top: 2px;
}

#v-pills-tab .create {
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.portfolio_single a.portfolio-card {
  /*overflow: hidden;*/
}
.portfolio_single:nth-child(1) a.portfolio-card::after {
  position: absolute;
  content: "1";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(2) a.portfolio-card::after {
  position: absolute;
  content: "2";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(3) a.portfolio-card::after {
  position: absolute;
  content: "3";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(4) a.portfolio-card::after {
  position: absolute;
  content: "4";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(5) a.portfolio-card::after {
  position: absolute;
  content: "5";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(6) a.portfolio-card::after {
  position: absolute;
  content: "6";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(7) a.portfolio-card::after {
  position: absolute;
  content: "7";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(8) a.portfolio-card::after {
  position: absolute;
  content: "8";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(9) a.portfolio-card::after {
  position: absolute;
  content: "9";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(10) a.portfolio-card::after {
  position: absolute;
  content: "10";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(11) a.portfolio-card::after {
  position: absolute;
  content: "11";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(12) a.portfolio-card::after {
  position: absolute;
  content: "12";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(13) a.portfolio-card::after {
  position: absolute;
  content: "13";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(14) a.portfolio-card::after {
  position: absolute;
  content: "14";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(15) a.portfolio-card::after {
  position: absolute;
  content: "15";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(16) a.portfolio-card::after {
  position: absolute;
  content: "16";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(17) a.portfolio-card::after {
  position: absolute;
  content: "17";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(18) a.portfolio-card::after {
  position: absolute;
  content: "18";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(19) a.portfolio-card::after {
  position: absolute;
  content: "19";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(20) a.portfolio-card::after {
  position: absolute;
  content: "20";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(21) a.portfolio-card::after {
  position: absolute;
  content: "21";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(22) a.portfolio-card::after {
  position: absolute;
  content: "22";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(23) a.portfolio-card::after {
  position: absolute;
  content: "23";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(24) a.portfolio-card::after {
  position: absolute;
  content: "24";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(25) a.portfolio-card::after {
  position: absolute;
  content: "25";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(26) a.portfolio-card::after {
  position: absolute;
  content: "26";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(27) a.portfolio-card::after {
  position: absolute;
  content: "27";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(28) a.portfolio-card::after {
  position: absolute;
  content: "28";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(29) a.portfolio-card::after {
  position: absolute;
  content: "29";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(30) a.portfolio-card::after {
  position: absolute;
  content: "30";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(31) a.portfolio-card::after {
  position: absolute;
  content: "31";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(32) a.portfolio-card::after {
  position: absolute;
  content: "32";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(33) a.portfolio-card::after {
  position: absolute;
  content: "33";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(34) a.portfolio-card::after {
  position: absolute;
  content: "34";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(35) a.portfolio-card::after {
  position: absolute;
  content: "35";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(36) a.portfolio-card::after {
  position: absolute;
  content: "36";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(37) a.portfolio-card::after {
  position: absolute;
  content: "37";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(38) a.portfolio-card::after {
  position: absolute;
  content: "38";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(39) a.portfolio-card::after {
  position: absolute;
  content: "39";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(40) a.portfolio-card::after {
  position: absolute;
  content: "40";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(41) a.portfolio-card::after {
  position: absolute;
  content: "41";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(42) a.portfolio-card::after {
  position: absolute;
  content: "42";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}
.portfolio_single:nth-child(43) a.portfolio-card::after {
  position: absolute;
  content: "43";
  display: block;
  bottom: 0px;
  right: 0px;
  background-color: #39ae69;
  padding: 5px 7px;
  border-top-left-radius: 23px;
  border-bottom-right-radius: 4px;
  color: #fff;
  width: 30px;
  padding-right: 0;
}

.portfolio_single.new {
  /*overflow: hidden;*/
}
.portfolio_single.new a.portfolio-card::before {
  content: "Янги";
  position: absolute;
  height: 20px;
  background-color: #183b74;
  width: 100%;
  color: #fff;
  transform: rotate(45deg);
  left: 38%;
  top: 17px;
}

.corner-text {
  background-size: contain;
  position: absolute;
  width: 70px;
  height: 100%;
  color: #fff;
  top: -7px;
  background-position: top left;
  left: -7px;
  /*    background-image: url("../img/icons/new.png");
  position: absolute;
  background-color: #a74747;
  width: 100%;
  height: 20px;
  transform: rotate(45deg);
  color: #fff;
  right: -42%;
  top: 8px;*/
}

.service_main_right_sidebar .video_link {
  display: block;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
  overflow: hidden;
  min-height: 260px;
}
.service_main_right_sidebar .video_link:hover:before {
  opacity: 1;
}
.service_main_right_sidebar .video_link:before {
  transition: all 0.3s ease;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0.8;
  z-index: 1;
}
.service_main_right_sidebar .video_link > img {
  width: auto;
  height: 100%;
  max-width: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.service_main_right_sidebar .video_link div {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  text-align: center;
  transform: translate(-50%, -50%);
}
.service_main_right_sidebar .video_link span {
  display: block;
  font-size: 21px;
  color: #5C8EFF;
  font-family: "Montserrat", sans-serif;
}
